* {
  margin: 0;
  padding: 0;
}
@media (min-device-width: 320px) and (max-device-width: 768px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
  .Intro {
    background: black;
    height: 100%;
    max-width: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 20px;
  }
  .name {
    padding-top: 30px;
    font-size: 26px;
    line-height: 1.65rem;
  }
  .Counts {
    font-size: 35px;
    display: grid;
    justify-items: flex-end;
    margin-top: 100%;
    opacity: 1;
  }
  .MainPage {
    background: #d6c9a3;
    max-width: 100%;
    height: 100%;
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    position: relative;
  }
  navBar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  .myName,
  .menu {
    position: relative;
    padding-top: 40px;
    font-size: 26px;
    font-weight: bolder;
    opacity: 0.85;
  }
  .support {
    margin-top: 100px;
    font-size: 21px;
    font-weight: 500;
  }
  .developer {
    margin-top: 50px;
    font-weight: 550;
    font-size: 35px;
    line-height: 1.6rem;
    opacity: 0.7;
  }
  .imageBorder {
    margin-top: 20px;
    border: 1px solid rgb(160, 146, 146);
    border-right: none;
    width: 250px;
    height: 210px;
  }
  #img1 {
    margin-top: 5px;
    width: 330px;
    height: 200px;
    padding-left: 3px;
  }
  .sn {
    display: flex;
    justify-content: right;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 500;
  }
  .About {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
  }
  .About2 {
    margin-top: 50px;
    font-size: 21px;
    width: 100%;
  }
  .ProjectSection,
  #About-3 {
    margin-top: 150px;
  }
  .flex-project {
    display: flex;
  }
  .recent,
  .projects-desc {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 2rem;
  }
  .sn2 {
    font-size: 30px;
    font-weight: 500;
  }
  .Project1 {
    display: grid;
    margin-top: 150px;
    font-weight: 550;
    font-size: 45px;
    line-height: 2.2rem;
  }
  .Projects-line1,
  .Projects-line2 {
    margin-top: 3px;
    width: 60px;
    height: 3px;
    border: 1px solid black;
    background-color: black;
  }
  .Projects-line2 {
    width: 250px;
  }
  .projects-desc {
    margin-top: 50px;
  }
  .rounded-circle {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #fff;
    margin-top: 180px;
  }
  .See-More {
    font-size: 25px;
    font-weight: bold;
    padding: 45px 45px;
  }
  .hobbies {
    display: grid;
    justify-content: right;
    margin-top: 100px;
  }
  .hobbies-desc p {
    margin-top: 50px;
    font-size: 21px;
  }
  footer {
    margin-top: 100px;
    font-size: 26px;
    font-weight: bolder;
  }
  .socials {
    display: flex;
  }
  .footer-links {
    text-decoration: none;
    color: black;
  }
}
