* {
  margin: 0;
  padding: 0;
}
@media (min-device-width: 320px) and (max-device-width: 768px) {
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
  .App{
    max-width: 100%;
    max-height: 500vh;
  }
  .Intro {
    background: black;
    height: 100%;
    max-width: 100%;
    color: #fff;
    font-family: 'Cinzel', serif;
    padding: 20px;
  }
  .name {
    padding-top: 30px;
    font-size: 38px;
    line-height: 1.75rem;
  }
  .Counts {
    font-size: 30px;
    display: grid;
    justify-items: flex-end;
    margin-top: 100%;
  }
  .MainPage {
    background: burlywood;
    height: 100%;
    max-width: 100%;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    position: relative;
  }
  .menuBar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  .myName,
  .menu {
    padding-top: 60px;
    font-size: 26px;
    font-weight: normal;
    opacity: 0.85;
  }
  .menu {
    text-decoration: none;
    color: black;
  }
  .support {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 500;
  }
  .developer {
    margin-top: 50px;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.8rem;
    opacity: 0.9;
  }
  #dev2{
    margin-top: 5px;
  }
  #img1 {
    margin-top: 5px;
    width: 300px;
    height: 250px;
    padding-left: 3px;
    border-radius: 4px;
  }
  .sn {
    display: flex;
    justify-content: right;
    margin-top: 100px;
    font-size: 15px;
    font-family: 'Fuzzy Bubbles', cursive;
  }
  .About {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
  }
  .About2 {
    margin-top: 50px;
    font-size: 19px;
    width: 100%;
  }
  .ProjectSection,
  #About-3 {
    margin-top: 150px;
  }
  .flex-project {
    display: flex;
  }
  .recent,
  .projects-desc {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 2rem;
  }
  .sn2 {
    font-size: 15px;
    font-family: 'Fuzzy Bubbles', cursive;
  }
  .Project1 {
    display: grid;
    margin-top: 70px;
    font-weight: 550;
    font-size: 35px;
    line-height: 2.2rem;
  }
  .Projects-line1,
  .Projects-line2 {
    margin-top: 3px;
    width: 30px;
    height: 1px;
    border: 1px solid black;
    background-color: black;
  }
  .Projects-line2 {
    width: 170px;
  }
  .projects-desc {
    margin-top: 50px;
  }
  .bgimg{
    margin-top: -100px;
    background-image: url(./Images/laptop.jpg);
    border-radius: 5px;
    height: 350px;
  }
  .bgimg2{
    margin-top: -100px;
    background-image: url(./Images/pix2.jpg);
    border-radius: 5px;
    height: 350px;
  }
  .rounded-circle {
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: black;
    margin-top: 180px;
  }
  .See-More {
    display: grid;
    justify-content: center;
    padding-top: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
  }
  .hobbies {
    display: grid;
    justify-content: right;
    margin-top: 120px;
    color: #fff;
  }
  .hobbies-desc{
    margin-top: 50px;
    font-size: 19px;
  }
  footer {
    margin-top: 100px;
    font-size: 26px;
    font-weight: bolder;
  }
  .socials {
    display: flex;
  }
  .footer-links {
    text-decoration: none;
    color: black;
    font-size: 21px;
  }
}
